---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- assign date_format = site.minima.date_format | default: "%b, %Y" -%}
  {% for page in site.pages %}
    <ul class="post-list">
    {% if page.url != "/" and page.name == "index.markdown" or page.name == "index.md" %} <!-- Exclude the main homepage index.html -->
      <li>
        <span class="post-meta">{{ page.start_date | date: date_format }} - {{ page.end_date | date: date_format | default: "Present" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ page.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ page.excerpt }}
        {%- endif -%}
      </li>
    {% endif %}
    </ul>
  {% endfor %}

</div>


